:root {
  --empty-white: #eeeeee;
  --bg-white: #fafafa;
  --primary: #8b90d3;
}

body {
  margin: 0;
  background-color: var(--empty-white);
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}

* {
  box-sizing: border-box;
}
